#banner-image {
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	color: #f8f8f8;
	background: url("images/banner4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
}
#banner_content {
	position: relative;
	padding-top: 3%;
	padding-bottom: 3%;
	margin: 4% auto;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 660px;
}
body {
  background-image: url('images/bg5.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.head{
	text-align: center;
	color: black;
	font-family: Impact, Gill Sans, sans-serif;
	text-decoration: none;
	padding:auto;
	padding-bottom:15px;
	line-height: 24px;
	width: 100%;
	color: white;
	font-size: 30px;
}
.head1{
	text-align: center;
	color: black;
	font-family: Impact, Gill Sans, sans-serif;
	text-decoration: none;
	padding:auto;
	padding-bottom:15px;
	line-height: 24px;
	width: 100%;
	color: white;
	font-size: 30px;
}
.head2{
	text-align: left;
	color: black;
	font-family: Impact, Gill Sans, sans-serif;
	text-decoration: none;
	padding:auto;
	padding-bottom:15px;
	line-height: 24px;
	width: 100%;
	color: white;
	font-size: 25px;
}
.content{
	/* position: relative; */
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 800px;
	text-align: center;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
/*.content1 a{
	text-decoration:none;
}*/
.content1{
	/* position: relative; */
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
	margin: 12% auto;
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 800px;
	text-align: left;
	color: white;
	font-family: "Trebuchet MS",Helvetica, sans-serif;
	text-decoration: none;
	/* padding: 0px 35px 35px 35px; */
	line-height: 24px;
	width: 100%;
	font-size: 15px;
}
footer {
	/*position: fixed;*/
	padding: 10px 0;
	text-align: center;
	bottom: 0;
	background-color: #101010;
	color: #9d9d9d;
	width: 100%;
}
.panel-margin {
	margin-top: 80px;
	margin-bottom: 80px;
}
.text-centre {
	text-align: center;
}
			.fa {
			padding: 20px;
			font-size: 30px;
			width: 100px;
			text-align: center;
			text-decoration: none;
			margin: 5px 5px;

			}

			.fa:hover {
			opacity: 0.7;
			}

			.fa-facebook {
			background: rgba(0, 0, 0);
			color: white;
			}

			.fa-linkedin {
			background: rgba(0, 0, 0);
			color: white;
			}
			.fa-instagram {
			background: rgba(0, 0, 0);
			color: white;
			}
			.form textarea{
				max-width: 600px;
			}


			@media only screen and (min-width: 320px){

			.help{
					text-align: center;
					color: white;
					font-size: 30px;
					font-family: "Trebuchet MS", Helvetica, sans-serif;
					text-decoration: none;
					padding-top: 45px;
				}
			.help p{
				text-align: center;
					color: white;
					font-size: 15px;
					font-family: "Trebuchet MS", Helvetica, sans-serif;
					text-decoration: none;
			}
			.xyz{
				color: white;
			}
				.form{

					font-size: 15px;
				}
				.contact{
					font-size: 18px;
					color: white;
					padding-top: 85px;
				}
				.contact p{
					font-size: 12px;
					color: white;
				}
				.contact1{
					font-size: 10px;
					color: #5dade2;
					text-align: center;
				}
				.contact2{
					font-size: 10px;
					color: white;
					text-align: center;
				}
				.tile{
					font-size: 25px;
					text-align: center;
					color: white;
					padding-top: 45px;
					font-family: "Trebuchet MS", Helvetica, sans-serif;
				}
				.team img{
					width: 100px;

				}
				.team table{
					border-collapse: collapse;
  					border-spacing: 0;
  					margin: 0;
 					padding: 0;
  					width: 100%;
  					table-layout: fixed;
  					color: white;
				}
				.team{
					font-size: 12px;
					text-align: center;
					color: white;
					

				}
				.team1{
					font-size: 12px;
					text-align: center;
					padding-left: 45px;
					padding-right: 45px;
					color: white;

				}
				.team1 img{
					width: 100px;
				}
				.xy{
					padding-top: 135px;
					padding-bottom: 85px;
				}
				.container1{
					padding-top: 190px
				}
			}

/*tablet view styling*/
		@media only screen and (min-width: 768px){
			#banner-image {
				padding-top: 220px;
				padding-bottom: 220px;
				text-align: center;
				color: #f8f8f8;
				background: url("images/banner4.jpg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover; 
			}
			.help{
					text-align: center;
					color: white;
					font-size: 30px;
					font-family: "Trebuchet MS", Helvetica, sans-serif;
					text-decoration: none;
					padding-top: 85px;
				}
			.help p{
				text-align: center;
					color: white;
					font-size: 15px;
					font-family: "Trebuchet MS", Helvetica, sans-serif;
					text-decoration: none;
			}
			.xyz{
				color: white;
			}
				.form{
					padding-bottom: 75px;
					font-size: 15px;
				}
				.contact{
					font-size: 20px;
					color: white;
					padding-top: 135px;

				}
				.contact p{
					font-size: 14px;
					color: white;
				}
				.contact1{
					font-size: 12px;
					color: #5dade2;
					text-align: center;
				}
				.contact2{
					font-size: 12px;
					color: white;
					text-align: center;
				}
			.tile{
					font-size: 25px;
					text-align: center;
					color: white;
					padding-top: 95px;
					font-family: "Trebuchet MS", Helvetica, sans-serif;
				}
				.team img{
					width: 150px;
					height: 150px;

				}
				.team table{
					border-collapse: collapse;
  					border-spacing: 0;
  					margin: 0;color: white;
 					padding: 0;
  					width: 100%;
  					table-layout: fixed;
				}
				.team{
					font-size: 12px;
					text-align: center;color: white;
					/*padding-left: 27px;*/
					padding-right: 45px;

				}
				.team1{
					font-size: 12px;
					text-align: center;color: white;
					padding-left: 45px;
					padding-right: 45px;

				}
				.team1 img{
					width: 150px;
					height: 150px;
				}
				.abc{
					position: center;color: white;
					padding-left: 200px;
				}
				.xy{
					padding-top: 185px;
					padding-bottom: 85px;
				}
				.container1{
					padding-top: 230px
				}
			}
/*
desktop view styling*/
		@media only screen and (min-width: 1080px){
			.help{
					text-align: center;
					color: white;
					font-size: 50px;
					font-family: "Trebuchet MS", Helvetica, sans-serif;
					text-decoration: none;
				}
			.help p{
				text-align: center;
					color: white;
					font-size: 30px;
					font-family: "Trebuchet MS", Helvetica, sans-serif;
					text-decoration: none;
			}
			.xyz{
				color: white;
			}
				.form{

					font-size: 20px;
				}
				.contact{
					font-size: 35px;
					padding-top: 45px;

				}
				.contact p{
					font-size: 20px;
				}
				.contact1{
					font-size: 15px;
					color: #5dade2;
					text-align: center;
				}
				.contact2{
					font-size: 15px;
					color: white;
					text-align: center;
					padding-bottom: 20px;
				}
				
			.tile{
					font-size: 30px;
					text-align: center;color: white;
					font-family: "Trebuchet MS", Helvetica, sans-serif;
				}
				.team img{
					width: 200px;
					height: 200px;

				}
				.team table{
					border-collapse: collapse;
  					border-spacing: 0;
  					margin: 0;color: white;
 					padding: 0;
  					width: 100%;
  					table-layout: fixed;
				}
				.team{
					font-size: 20px;
					text-align: center;color: white;
					/*padding-left: 240px;*/
					padding-right: 45px;

				}
				.team1{
					font-size: 20px;
					text-align: center;
					padding-left: 45px;color: white;
					padding-right: 45px;

				}
				.team1 img{
					width: 200px;
					height: 200px;
				}
				.abc{
					position: center;color: white;
					padding-left: 200px;
				}
				.xy{
					padding-top: 85px;
					padding-bottom: 85px;
				}
		}
